* {
	margin: 0px;
	padding: 0px;
}
body {
	background-color: #6C757D;
}
.bar{
	outline: 2px solid white;
	background-color:  white;
}
.header1 {
	background-color: #343A40;
	color: white;
}
.header1 a {
	color: white;
}
.navbar-toggler-icon.icon {
	color: white; /* Set the desired color here */
  }
  
.line a {
	text-decoration: underline;
	color: white;
}
.Picture img {
	border: 3px solid white;
	/* box-shadow: 2px 2px 10px 3px white; */
}
.box1{
	background-color: red;
}
@media screen and (min-width:0px) and (max-width:420px) {
	.ref{
		margin-top: 400px;
		align-items: center;
	}
	.Picture img {
		margin-top: -700px;
	}
}
@media screen and (min-width: 421px) and (max-width: 768px) {
	.ref{
		margin-top: 520px;
		align-items: center;
	}
	.Picture img {
		margin-top: -800px;
	}
}

/* ---About Page--- */
@media screen and (min-width:0px) and (max-width:420px) {
	.conbtn{
		margin-top: 450px;
		align-items: center;
	}
	.pic img {
		margin-top: -600px;
		align-items: center;
	}
}
@media screen and (min-width: 421px) and (max-width: 768px) {
	.conbtn{
		margin-top: 400px;
		align-items: center;
	}
	.pic img {
		margin-top: -630px;
		align-items: center;
	}
}
/* ---contact Page--- */

.form-control{
	background-color: #202020; 
	color: white;
	font-weight: bold;
}
/* ---About Page--- */
/* ---MyResume Page--- */
.S1{
	width:100%;
	height:10px;
	background-color:white;
	border-radius: 50px;
	color: black;
	outline: 2px solid #007BFF;
	text-align: right;
	padding: 2px;
}
.NintyFive{
   width: 95%;
   height:7px;
   background-color: #007BFF;
   border-radius: 50px;

}
.Eighty{
	width: 80%;
	height:7px;
	background-color: #007BFF;
	border-radius: 50px;
}
.FourtyFive{
	width: 45%;
	height:7px;
	background-color: #007BFF;
	border-radius: 50px;
}
.Ninty{
	width: 90%;
	height:7px;
	background-color: #007BFF;
	border-radius: 50px;
 
 }
 .EightyFive{
	width: 85%;
	height:7px;
	background-color: #007BFF;
	border-radius: 50px;
 
 }
.line1 {
	width: 1px;
	height: 300px;
	background-color: white;
	display: inline-block;
	margin: 0 10px;
  }
.percentage{
    margin-top: -20px;
	color: white;
	font-weight: lighter;
	text-align: right;
}
.lab{
	color: white;
}
.Degree{
	color: lightgreen;
}
.heading{
	color: yellow;
}
/* .last{
	margin: auto;
} */